.App {
  height: 100vh;
  display: flex;
  flex-direction: row;
  
  color: black;
}

.App__Aside {
  width: 60%;
  background-color:#66DAC7;
}

.App__Aside>img{
  width:100%;
  height: 100%;
  opacity: 0.9;
}
.App__Form {
  width: 40%;
  background-color: #2E4158;
  padding: 25px 40px;
  overflow: auto;
}
.Form{
  margin:30px;
  background-color: #66DAC7;
  border: 50Px;
}

.Div-header{
  height:5vmin;
  width:100vw;
  margin-top: 0;
  color:black;
  background-color: powderblue;
  padding:0;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


