.App {
  height: 100vh;
  display: flex;
  flex-direction: row;
  
  color: black;
}

.App__Aside {
  width: 60%;
  background-color:#66DAC7;
}

.App__Aside>img{
  width:100%;
  height: 100%;
  opacity: 0.9;
}
.App__Form {
  width: 40%;
  background-color: #2E4158;
  padding: 25px 40px;
  overflow: auto;
}
.Form{
  margin:200px;
  background-color: rgb(218, 102, 189);
  border: 150Px;
}

.Div-header{
  height:5vmin;
  width:100vw;
  margin-top: 0;
  color:black;
  background-color: powderblue;
  padding:0;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.FormCenter {
  margin-top: 175px; 
  margin-bottom: 100px;
  margin-left: 50px;
}

.FormTitle {
  color: #707C8B;
  font-weight: 300;
  margin-bottom: 50px;
}

.FormTitle__Link {
  color: #707C8B;
  text-decoration: none;
  display: inline-block;
  font-size: 1.7em;
  margin: 0 10px;
  padding-bottom: 5px;
}

.FormTitle__Link:first-child {
  margin-left: 0;
}

.FormTitle__Link--Active {
  color: white;
  border-bottom: 1px solid #199087;
}

.FormField {
  margin-bottom: 40px;
}

.FormField__Label {
  display: block;
  text-transform: uppercase;
  font-size: .9em;
  color: white;
}
.FormField__Input {
  width: 85%;
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
  border-bottom: 1px solid #445366;
  font-size: 1em;
  font-weight: 300;
  padding-bottom: 10px;
  margin-top: 10px;
}

.FormField__Input::placeholder {
  color: #616E7F;
}

.FormField__Button {
  background-color: #52C4B9;
  color: white;
  border: none;
  outline: none;
  border-radius: 25px;
  padding: 15px 70px;
  font-size: .8em;
  font-weight: 500;
}

.FormField__Link {
  color: #66707D;
  text-decoration: none;
  display: inline-block;
  border-bottom: 1.5px solid #225E62;
  padding-bottom: 5px;
}

.FormField__CheckboxLabel {
  color: #646F7D;
  font-size: .9em;
}

.FormField__TermsLink {
  color: white;
  border-bottom: 1px solid #199087;
  text-decoration: none;
  display: inline-block;
  padding-bottom: 2px;
  margin-left: 5px;
}
.App_NavBar{
  display:flex;
  justify-content:space-around;
  align-items:center ;
  height:7vh;
  color:white;
  flex-flow:row-wrap; 
  background-color:rgb(81, 76, 97);
  
}
.App_NavBar_li{
  width:fit-content;
  display:inline-block;
  flex-direction: row;
  list-style: none;
  padding-right: 45px;
  text-align:center;

}
.App_Container{
  flex:1;
  display:flex;
  
}
.App_Container_Left{
  width:40%;
  flex:1;
  
}
.Home_image{
  width:40%;
  height:60%;
  position: absolute;
  top: 20%;
	right: 40px;
	z-index: -1;
  opacity: 0.8;

}
.Home{
  enable-background: url('background.png');
  background-color: white;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width:100%;
  z-index: -1;
}
